/* Kontti, joka pitää sisällön keskellä */
.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.logo {
    width: 20em;
    margin-top: 1em;
}

/* Lomakekortti */
.login-box {
    padding: 2rem;
    border-radius: 12px;
    width: 90%;
}

/* Linkit (Kirjaudu sisään & Rekisteröidy) */
.auth-links {
    display: flex;
    justify-content: center;
    gap: 2em;
    margin-bottom: 2em;
}

.auth-links a {
    text-decoration: none;
    font-weight: bold;
    padding-bottom: 5px;
    color: #4caf50;
    transition: color 0.3s ease-in-out;
    font-size: large;
}

.auth-links a:hover {
    color: #aed581;
}

/* Aktiivinen sivun korostusviiva */
.auth-links a.active {
    border-bottom: 4px solid #4caf50;
}

/* Syöttökentät */

.username-container p, .password-container p {
    margin-bottom: 0.5em;
}

.input-field {
    width: 95%;
    padding: 10px;
    margin-bottom: 1rem;
    border: 2px solid #4caf50;
    border-radius: 6px;
    background: #262626;
    color: #e0e0e0;
    font-size: 1rem;
}

.input-field:focus {
    outline: none;
    border-color: #81c784;
}

/* Salasanakentän silmä-ikoni */
.password-container {
    position: relative;
    margin-top: -0.5em;
}

.confirmpassword-container {
    margin-top: -2em;
}

.password-icon {
    position: relative;
    left: 22em;
    top: -2.6em;
    transform: translateY(-50%);
    cursor: pointer;
    color: #8bc34a;
    background-color: transparent;
    border: none;
}

/* Kirjautumisnappi */
.login-button {
    width: 100%;
    padding: 1em;
    background: #4caf50;
    color: white;
    font-size: 1rem;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
}

.login-button:hover {
    background: #388e3c;
}

.footer {
    margin-top: 0;
    text-align: center;
    font-size: 14px;
    color: #ccc;
  }

.footer p {
    color: #4caf50;
}
  
  .social-links {
    display: flex;
    justify-content: center;
    gap: 4em;
    margin-bottom: 3em;
  }
  
  .social-links a {
    color: #4caf50;
    transition: transform 0.2s ease, color 0.2s ease;
    border: 1px solid #8bc34a;
    border-radius: 50px;
    padding: 0.5em;
    margin-top: 0.5em;
  }
  
  .social-links a:hover {
    transform: scale(1.2);
    color: #ffffff;
  }
  
  